/*
welcome page
-
- adjust padding for smaller screens
    - inside float for title (reduce to bring other elements up)
    - width of float


*/

/*
backgrounds
*/


#welcome-page{
    background: url("/img-assets/welcome-img.jpg") no-repeat top center fixed;
}

#article-page{
    background: url("/img-assets/article-main.jpg") no-repeat top center fixed;
}

#article-view-page{
    background: url("/img-assets/article-view-img.jpg") no-repeat top center fixed;
}

#login-page{
    background: url("/img-assets/login-img.jpg") no-repeat top center fixed;
}

#signup-page{
    background: url("/img-assets/signup-img.jpg") no-repeat top center fixed;
}

#add-art-page{
    background: url("/img-assets/add-art-img.jpg") no-repeat top center fixed;
}



button{
    border-radius: 0;
}

.btn{
    border-radius: 0;
}

#welcome-page {
    background-size: cover;
    height: 720px;
    padding: 100px;
}

#welcome-float {
    width: 80%;
    height: 100%;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 644px) {
    #welcome-float{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#welcome-float > .btn {
    margin: 20px;
    border-radius: 0;
    width: 120px;
    vertical-align: middle;
    min-width: fit-content;
}

input[type=button] {
    margin: 20px;
    border-radius: 0;
    width: 120px;
    vertical-align: middle;
    min-width: fit-content;
}

#other-links {
    padding: 40px;
}

#other-links > a:hover {
    color: #ffc107;
}

#other-links > a {
    font-size: 40px;
    margin: 20px;
    padding-top: 60px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/*
sign-up page
*/

#signup-page, #login-page, #add-art-page, #article-view-page {

    background-size: cover;
    padding: 100px;
    /*height: fit-content;*/
}

#signup-float, #login-float, #add-art-float, #article-view-float {
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 30px;
    height: fit-content;
}

.legend {
    font-size: 40px;
    color: #ffc107;
}

.input {
    padding: 0;
}

.input > .btn {
    border-radius: 0;
}

/*
input type
- blue glow needs to be removed
*/

input[type=text], input[type=text-area], input[type=password], input[type=date], select[id=country], textarea[id=description], textarea[id=content], textarea[id=comment-box], textarea[id=change-content] {
    width: 100%;
    padding: 12px 20px;
    /*margin: 8px 0;*/
    box-sizing: border-box;
    border: 3px solid #ccc;
    /*-webkit-transition: 0.5s;*/
    transition: 0.5s;
    outline: none;
    border-radius: 0;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=text-area]:focus {
    border: 3px solid #555;
}

input[type=password]:focus {
    border: 3px solid #555;
}

input[type=date]:focus {
    border: 3px solid #555;
}

select[id=country]:focus {
    border: 3px solid #555;
}

textarea[id=description]:focus {
    border: 3px solid #555;
}

textarea[id=content]:focus {
    border: 3px solid #555;
}

textarea[id=comment-box]:focus{
    border: 3px solid #555;
}

textarea[id=change-content]{
    border: 3px solid #555;
}



/*
login page
*/



/*
main page
*/

.header-text{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 40px;
    color: #ffc107;
}

#header-caption{
    padding-left: 20px;
    font-size: 12px;
}

#article-page {

    background-size: cover;
    padding: 50px;
    transition: margin-left .5s;
}

#article-float {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    /*background-color: #1c7430;*/
    width: 100%;
    padding: 0;
}

.card {
    border: 0;
    background: transparent;
}

.card-body{
    padding: 20px;
}

.user-info {
    font-style: italic;
    font-size: 10px;
}

.card, .card-body > .btn {
    border-radius: 0;
}

#add-art-button{
    width: 300px;
}



/*
add article page
*/

/*
article page
*/

#control-buttons{
    padding-left: 15px;
}

#add-comment-buttons{
    padding-left: 35px;
}

/*
comments
 */

#comment-header{
    /*padding-left: 20px;*/
    padding-left: 35px;
    font-size: 23px;
    color: #ffc107;

}

.comment-body{
    background-color: rgba(255, 255, 255, 0.6);
    /*background-color: #1c7430;*/
    padding: 5px;
    width: 100%;
}

#comment-text{
    border-top: solid black 2px;
    border-left: solid #ffc107 2px;
    background-color: rgba(255, 255, 255, 0.2) ;
    font-size: 15px;
    padding-left: 20px;
}

#comment-info{
font-size: 10px;
}

.delete-comment{
    height: 10px;
    width: 10px;
}


/*
nav bar
*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}








